@import "../abstracts/variables.scss";

/* NAV BAR */
.navbar {
  display: flex;
  position: fixed; /* Fixed position */
  // top: 0; /* Fixed to the top */
  left: 0;
  flex-direction: column;
  padding: 20px;
  width: 80%;
  width: 200px;
  background-color: white;
  // border-right: 1px solid $dark-grey;

  .__logo {
    display: flex;
    flex-direction: column;
  }
  .toggle {
    display: none; /* Hide by default */
  }

  .__logo img {
    height: 150px;
    width: 150px;
    margin-top: 30px;
    align-self: center;
  }
  // COMPANY NAME IMAGE
  .__logo .__banner img {
    margin-top: 10px;
    height: 60px;
    width: 100%;
  }
  .navLinks {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
    margin-left: 12px;
    font-size: 20px;
    align-items: start;
    transition: transform 0.5s ease;
    a.active {
      color: $brand-color;
    }
  }
  a:hover {
    color: $brand-color;
    transform: scale(1.1);
  }
}

//Media query for adjustments of screen
@media (max-width: 768px) {
  .navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid $dark-grey;
    top: 0;
    .toggle {
      display: visible;
    }
    .navLinks {
      display: flex;
      flex-direction: column;
      display: none; /* Hide by default on mobile */
      padding: 10px;

      &.show {
        display: flex; /* Show when dropdown is active */
      }
      a {
        font-size: 15px;
      }
    }
    .__logo {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      // width: 150px;
      .__logo-img {
        height: 5px;
        width: 5px;
        visibility: hidden;
      }
      .__banner img {
        width: 80%;
      }
    }
  }
}

.navbar a {
  font-size: 25px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  color: $dark-grey;
}

// .navbar {
//   /* Other styles */

//   .toggle {
//     display: none; /* Hide by default */
//   }

//   .navLinks {
//     display: flex;

//     @media (max-width: 768px) {
//       flex-direction: column;
//       display: none; /* Hide by default on mobile */
//       padding: 10px;

//       &.show {
//         display: flex; /* Show when dropdown is active */
//       }

//       a {
//         padding: 10px 0;
//       }
//     }
//   }
// }
