// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------
// fonts.scss
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: url("path/to/Montserrat-Regular.ttf") format("truetype"); /* Adjust path to font file */
  }
